@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Lato:wght@400;700&display=swap");

:root {
  --background-color: #d2eaff;
  --container-background-color: #fff;
  --text-color: #292524;
  --card-shadow-color: #a9d4ff;
}

body.dark {
  --background-color: #121212;
  --container-background-color: #1e1e1e;
  --text-color: #e0e0e0;
  --card-shadow-color: #3b3b3b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.faq-container {
  background-color: var(--container-background-color);
  width: 1010px;
  border-radius: 20px;
  padding: 25px 40px;
  min-height: 580px;
  transition: background-color 0.3s ease;
}

.faq-container__title {
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  transition: color 0.3s ease;
}

.faq-container__questions {
  display: flex;
  flex-direction: row;
  gap: 52px;
  margin-top: 40px;
}

.faq-container__img {
  width: 242px;
  height: 242px;
  margin-top: 40px;
}

.faq-container__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.faq-container__question-card {
  box-shadow: 2.83px 0px 0px 0px var(--card-shadow-color) inset,
    0px 0.37744px 0px 0px var(--card-shadow-color);
  padding: 20px;
  border-radius: 3.475px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.faq-container__question {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.faq-container__answer {
  display: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.faq-container__answer.open {
  display: block;
}

.faq-container__icon.open {
  transform: rotate(180deg);
}

.faq-container__icon {
  transition: transform 0.15s ease-in-out;
}

.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--container-background-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.3s ease;
}

body.dark .theme-toggle {
  background-color: var(--container-background-color);
  color: var(--text-color);
}

@media (max-width: 650px) {
  .faq-container {
    margin: 35px 20px;
  }
  .faq-container__questions {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 0;
  }

  .faq-container__img {
    margin-top: 20px;
  }
} 
